@media (min-width: 1201px) {
  nav {
    display: flex;
    width: 1000px;
    justify-content: right;
    align-items: center;
  }

  nav #dropdown {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-right: 10px;
    flex-grow: 2;
    gap: 20px;
    z-index: 2;
  }

  nav #dropdown li {
    display: flex;
    color: var(--menu-text);
  }

  nav #dropdown > li > ul {
    margin-top: 21px;
    position: absolute;
    top: 100%;
    flex-wrap: wrap;
    border-left: var(--menu-text) 2px solid;
    border-right: var(--menu-text) 2px solid;
    border-bottom: var(--menu-text) 2px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  /* nav #dropdown > li > ul::before {
    position: absolute;
    content: "";
    left: 0px;
    width: 10px;
    height: 10px;
    background: red;
    border-top: var(--menu-text) 2px solid;
    border-right: var(--menu-text) 2px solid;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  } */

  nav #dropdown > li > ul.hiden {
    /* border-top: none !important; */
  }

  nav #dropdown ul > li {
    width: 115px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #1c446e;
    border-bottom: 1px solid #091625;
  }

  nav #dropdown .btnarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 0px; */
    width: calc(var(--menu-element-height) - 2px);
    border-left: #1c446e 1px solid;
  }

  nav #dropdown > li ul .btnarrow {
    padding: 0px 5px 0px 0px;
  }

  nav #dropdown .colapse {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  nav #dropdown .hiden {
    max-height: 0 !important;
  }

  nav #dropdown .unhide {
  }

  li:hover {
    box-sizing: border-box;
    cursor: pointer;
  }

  nav #dropdown a {
    display: flex;
    height: calc(var(--menu-element-height) - 2px);
    color: var(--menu-text);
    flex-grow: 1;
    color: var(--menu-text);
    padding: 10px 5px 10px 10px;
    font-size: 0.85rem;
    text-decoration: none;
    align-items: center;
  }
}
